body {
  background-color: #292B33;
  color: #ffffff;
  margin: 0;
}

h1{
  color: #A3459E;
}

h2 {
  color: #80BA6D;
}

.title{
  color: #A3459E;
  font-size: 80px;
}

#logo{
  border-radius: 20px;
}

img {
  border-radius: 15px;
}

.header{
  background: #3B3B3C;
  color: #9EDEFB;
  font-size: 80px;
  padding: 20px;


}

.viewCont{
  background-color: #3F4148;
  padding: 13px;
  width: 550px;
  margin: 50px auto 50px auto;
  border-radius: 13px;
  box-shadow: 0px 0px 7px 5px #5D606A;

}

.bottomCont{
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  color: #A3459E;
}
